@import url("https://fonts.googleapis.com/css2?family=Cantata+One&family=Comic+Neue:ital,wght@1,700&family=DM+Serif+Text&family=Labrada&display=swap");
* {
  box-sizing: border-box;
  color: #8b4513;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1400px;
  margin: auto;
}

/*---------------------- calendar ------------------------*/

.container-left {
  width: 700px;
  box-shadow: 2px 5px 10px 7px gray;
  padding: 10px;
  border-radius: 5px;
}
.fc-icon {
  color: white;
}

/*---------------------- information ------------------------*/

.container-right {
  max-width: 700px;
  margin-left: 30px;
}
.information {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  padding: 40px;
  background-color: rgba(210, 180, 140, 0.3);
  border-radius: 5px;
  margin-bottom: 30px;
  font-size: 18px;
  box-shadow: 2px 2px 5px gray;
}
.information span {
  padding: 5px;
  display: inline-block;
  font-size: 18px;
  width: 100px;
}
.input {
  padding: 5px;
  margin-left: 6px;
  margin-top: 10px;
  border-radius: 5px;
  width: 160px;
  border: 1px solid;
  border-color: #2c3e50;
  font-size: 18px;
}
.keyword-input {
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  width: 160px;
  border: 1px solid;
  border-color: #2c3e50;
  font-size: 18px;
}
.information select {
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  width: 160px;
  font-size: 18px;
}
#submit {
  width: 620px;
  height: 40px;
  border: 0;
  margin-top: 20px;
  background-color: rgba(139, 69, 19, 0.7);
  color: #ffffff;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 2px 2px 5px gray;
}
.information button:hover {
  background-color: rgba(139, 69, 19, 0.7);
}
.note {
  font-size: 14px;
  color: #971919;
}
.name {
  font-weight: bold;
}
.query {
  width: 24px;
  height: 24px;
  border: none;
  vertical-align: text-top;
  cursor: pointer;
}
.detail {
  margin-left: 30px;
  margin-bottom: 10px;
  position: relative;
}
.group {
  margin-bottom: 15px;
}
.subgroup {
  margin-left: 30px;
}
.information section {
  width: 310px;
}
.keyword-zone {
  position: relative;
}
.keyword-ul {
  position: absolute;
  top: 32px;
  left: 6px;
  width: 160px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.9);
  right: 14px;
  box-shadow: 2px 2px 5px gray;
  display: none;
  border-radius: 5px;
}
.keyword-li {
  color: #666666;
  font-size: 16px;
  padding: 8px;
  width: 160px;
  border-radius: 5px;
  cursor: pointer;
}
.keyword-li:hover:not(.header) {
  background-color: rgba(255, 255, 255);
}
/* ---------------- journal list -------------- */
.journal-list {
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
}
.content-list {
  width: 700px;
  height: 600px;
  padding: 20px;
  background-color: rgba(210, 180, 140);
  border-radius: 5px;
  box-shadow: 2px 2px 5px gray;
  margin-bottom: 20px;
}
.content-list-container {
  overflow: auto;
  height: 560px;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  border: 4px solid;
  border-color: rgba(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  font-size: 18px;
}
.item-container {
  display: flex;
  align-items: center;
  justify-content: end;
}
.item-describe {
  flex: auto;
}
.category {
  display: flex;
  align-items: center;
  justify-content: start;
}
.main-category {
  flex: none;
  width: 30px;
  padding: 5px;
  margin-right: 10px;
  text-align: center;
  background-color: rgba(139, 69, 19, 0.7);
  border-radius: 5px;
  color: #ffffff;
}
.sub-category {
  flex: none;
  margin-right: 10px;
  padding: 5px;
  text-align: center;
  background-color: rgba(184, 134, 11, 0.3);
  border-radius: 5px;
  font-weight: 500;
}
.status {
  flex: none;
  margin-right: 10px;
  padding: 5px;
  text-align: center;
  background-color: rgba(139, 69, 19, 0.7);
  border-radius: 5px;
  color: #ffffff;
}
.keyword {
  padding-top: 10px;
}
.item-delete {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-image: url(/static/img/delete.png);
  background-size: cover;
  margin-left: 40px;
}
.item-edit {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-image: url(/static/img/edit.png);
  background-size: cover;
  margin-left: 40px;
}

@media (max-width: 1400px) {
  .main {
    display: block;
    margin-top: 10px;
    max-width: 700px;
  }
  .container-left {
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .container-right {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .container-right {
    width: 90%;
    margin: auto;
  }
  .container-left {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .content-list {
    width: 100%;
    height: 100%;
  }
  .information {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .item {
    width: 95%;
  }
  #submit {
    max-width: 310px;
  }
}
@media (max-width: 573px) {
  .item {
    display: block;
  }
  .item-container {
    margin-top: 10px;
  }
  .item-edit {
    margin-left: auto;
  }
}
@media (max-width: 490px) {
  .information span {
    width: 120px;
  }
  .information select {
    margin-left: 6px;
  }
  /* #input-price,
  #input-date {
    margin-left: 12px;
  } */
  .keyword-input {
    margin-left: 6px;
  }
}
/* @media (max-width: 440px) {
  #input-price,
  #input-date {
    margin-left: 6px;
  }
} */
