@import url("https://fonts.googleapis.com/css2?family=Cantata+One&family=Comic+Neue:ital,wght@1,700&family=DM+Serif+Text&family=Labrada&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #8b4513;
}
body,
main {
  background-color: rgba(210, 180, 140, 0.3);
}
.join-us {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  font-size: 32px;
  font-weight: 800;
  color: white;
  font-family: "DM Serif Text", serif, "Cantata One", serif;
}
.nav {
  background-color: rgba(210, 180, 140, 0.3);
}

.cover-image {
  position: relative;
  background-image: url(/static/img/co_use.jpg);
  height: 100vh;
  background-size: cover;
  background-position: top;
}
.cover-text {
  max-width: 500px;
  margin-left: 180px;
  padding: 20px;
  margin-bottom: 30vh;
}
.page-name {
  font-size: 150px;
  font-family: "DM Serif Text", serif, "Cantata One", serif;
  color: white;
  font-weight: 900;
}
.slogan {
  font-size: 48px;
  font-family: "Labrada", serif, "Joan", serif;
  color: white;
}
.github {
  padding-left: 10px;
}

/* -------------- Signin ------------------- */
.name {
  font-family: "DM Serif Text", serif, "Cantata One", serif;
  font-size: 52px;
}
section {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}
.login {
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translate(-50%);
}

.sign-up {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%);
}
#sign-up-message,
#login-message {
  color: #dc3545;
}
#register,
#go-login {
  cursor: pointer;
}
#buttonDiv {
  width: 100%;
}
.window {
  width: 360px;
  padding: 48px;
}
hr {
  border: 1px solid;
  width: 139px;
  vertical-align: text-top;
}
/* -------------- index ------------------- */
.co-edit {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 15% 20%;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 5px gray;
}
.analyze {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 5px gray;
}
footer {
  background-color: rgba(210, 180, 140);
}
.title {
  font-family: "DM Serif Text", serif, "Cantata One", serif;
  font-size: 56px;
}
.describe {
  font-family: "Labrada", serif, "Joan", serif;
}
@media (max-width: 1920px) {
  .subcontainer {
    height: 680px;
  }
}
@media (max-width: 1000px) {
  .page-name {
    font-size: 140px;
  }
  .cover-text {
    margin-bottom: 55vh;
    margin-left: 120px;
  }
}
@media (max-width: 1200px) {
  .subcontainer {
    height: 870px;
  }
}
@media (max-width: 1050px) {
  .subcontainer {
    height: 750px;
  }
}
@media (max-width: 576px) {
  .cover-text {
    padding: 5px;
    margin-bottom: 12vh;
    margin-left: 20px;
  }
  .page-name {
    font-size: 120px;
    padding-bottom: 40vh;
  }
  .slogan {
    font-size: 38px;
    font-weight: 800;
  }
  .subcontainer {
    height: 680px;
  }
}
@media (max-width: 389px) {
  .window {
    width: 300px;
    padding: 24px;
    padding-bottom: 40px;
  }
}
