.nav {
  background-color: rgba(210, 180, 140, 0.8);
  padding: 10px;
}
.nav-second {
  background-color: rgba(210, 180, 140, 0.3);
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav-bar-second {
  display: flex;
  justify-content: start;
  align-items: center;
  max-width: 1400px;
  margin: auto;
  padding-bottom: 5px;
  padding-top: 5px;
}
.nav-left {
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-name {
  flex: none;
  font-family: "Comic Sans MS", cursive;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
}
.book-name {
  flex: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
}
.nav-list {
  flex: none;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  width: 60px;
  cursor: pointer;
  position: relative;
  display: none;
}
.nav-right {
  display: flex;
  flex: auto;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.options {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 70px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
}
#member {
  position: relative;
}
.member-list {
  background-color: #ffffff;
  position: absolute;
  width: 120px;
  top: 50px;
  left: 0px;
  border-radius: 5px;
  box-shadow: 3px 3px 8px rgba(33, 33, 33, 0.7);
  border: 2px solid;
  border-color: #8b4513;
  z-index: 2;
  display: none;
}
.member-list div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 5px;
}
.collaborator {
  flex: none;
  width: 80px;
  height: 60px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.member-delete {
  flex: none;
  width: 15px;
  height: 15px;
  cursor: pointer;
  background-image: url(/static/img/close.png);
  background-size: cover;
  background-position: cover;
}
.invite {
  position: relative;
}
.invite-list {
  position: absolute;
  background-color: #ffffff;
  top: 50px;
  left: 0px;
  border-radius: 5px;
  box-shadow: 3px 3px 8px rgba(33, 33, 33, 0.7);
  border: 2px solid;
  border-color: #8b4513;
  z-index: 2;
  padding: 8px;
  display: none;
}
#invite-email {
  width: 200px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  font-size: 18px;
}
#invite-button {
  height: 30px;
  margin-top: 5px;
}
#invite-button:hover {
  height: 30px;
  margin-top: 5px;
  background-color: rgba(139, 69, 19, 0.7);
  color: #ffffff;
  border-radius: 5px;
}
.user-list {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid;
  border-color: #ffffff;
  object-fit: cover;
  cursor: pointer;
  background-color: #ffffff;
}
.user-list-content {
  background-color: #ffffff;
  position: absolute;
  width: 120px;
  top: 40px;
  right: 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 8px rgba(33, 33, 33, 0.7);
  border: 2px solid;
  border-color: #8b4513;
  display: none;
  z-index: 3;
}
.user-list-content div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 60px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}
.user-list-content div:hover,
.options:hover {
  background-color: rgba(139, 69, 19, 0.7);
  color: #ffffff;
  border-radius: 5px;
}
.welcome {
  padding-top: 40px;
  padding-bottom: 20px;
  max-width: 1400px;
  margin: auto;
  font-size: 22px;
}
@media (max-width: 1400px) {
  .welcome {
    max-width: 700px;
  }
  .nav-bar {
    padding-left: 10px;
    padding-right: 10px;
  }
  .nav-bar-second {
    padding-left: 10px;
  }
}

@media (max-width: 768px) {
  .welcome {
    padding-left: 10px;
    padding-top: 40px;
    width: 90%;
    margin: auto;
  }
  .nav {
    border-bottom: 0px;
  }
}
