<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Joan&family=Merienda&family=Merriweather:ital@1&family=Roboto+Condensed&family=Satisfy&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/account_settlement.css"
    />
    <link rel="stylesheet" type="text/css" href="/static/css/nav.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/notice.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/member.css" />
    <title>settlement</title>
  </head>
  <body>
    <script src="/static/js/html/html_nav.js"></script>
    <main class="main">
      <div class="record-mode">
        <input type="radio" name="radio" value="start" checked />
        <span class="record-checked" id="start-to-settlement">開始結算</span>
        <input type="radio" name="radio" value="record" />
        <span class="record-unchecked" id="go-to-record">結算紀錄</span>
      </div>
      <div id="settlement-zone">
        <div class="query-box">
          <section class="query-box-required">
            <div class="query-box-title">請輸入年度、月份</div>
            <span class="query-box-subtitle">年度</span
            ><select size="1" id="year" name="year">
              <option>2022</option>
              <option>2023</option>
              <option>2024</option>
              <option>2025</option>
              <option>2026</option>
              <option>2027</option>
              <option>2028</option>
              <option>2029</option>
              <option>2030</option></select
            ><br />
            <span class="query-box-subtitle">月份</span
            ><select size="1" id="month" name="month">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option></select
            ><br />
          </section>
          <section class="query-box-click">
            <div class="query-box-button">查詢</div>
          </section>
        </div>
        <div class="detail-list">
          <div>待結算金額總覽</div>
        </div>
        <div class="container">
          <div class="settlement-container" id="settlement-container"></div>
        </div>

        <div class="detail-list">
          <div>分攤明細</div>
          <div>合計：<span id="amount"></span>元</div>
        </div>
        <div class="detail-container">
          <div class="detail-inner-container"></div>
        </div>
      </div>
      <!-------------------------- 結算紀錄 -------------------------->
      <div id="record-zone">
        <div class="record-box" id="record-box">
          <div class="record-box-inner"></div>
        </div>
      </div>
    </main>
    <script src="/static/js/html/html_notice.js"></script>
    <script src="/static/js/html/html_member.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script type="module" src="/static/js/account_settlement.js"></script>
    <script type="module" src="/static/js/nav.js"></script>
    <script type="module" src="/static/js/notice.js"></script>
    <script type="module" src="/static/js/member.js"></script>
  </body>
</html>
