<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Joan&family=Merienda&family=Merriweather:ital@1&family=Roboto+Condensed&family=Satisfy&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/account_book.css"
    />
    <link rel="stylesheet" type="text/css" href="/static/css/notice.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/nav.css" />
    <script src="/static/js/home.calendar.js"></script>
    <title>book</title>
  </head>
  <body>
    <script src="/static/js/html/html_nav.js"></script>
    <main class="main">
      <section class="container-left">
        <div id="calendar"></div>
      </section>
      <section class="container-right">
        <div class="information">
          <section>
            <div class="name">消費明細</div>
            <div class="detail">
              <span>金額</span><input type="text" name="price" /><br />
              <span>日期</span><input type="date" /><br />
              <span>生活機能</span>
              <select size="1" id="category_main">
                <option></option>
                <option>食</option>
                <option>衣</option>
                <option>住</option>
                <option>行</option>
                <option>育</option>
                <option>樂</option></select
              ><br />
              <span>消費型態</span>
              <select size="1" id="category_object">
                <option></option>
                <option>食品</option>
                <option>日常用品</option>
                <option>水電</option>
                <option>瓦斯</option>
                <option>網路</option>
                <option>電信</option>
                <option>管理費</option>
                <option>維修</option>
                <option>保養</option>
                <option>房租</option>
                <option>房貸</option>
                <option>車貸</option>
                <option>油資</option>
                <option>停車</option>
                <option>美妝保養</option>
                <option>服裝</option>
                <option>設備</option>
                <option>學習</option>
                <option>運動</option>
                <option>娛樂</option>
                <option>交際費</option>
                <option>理財</option>
                <option>醫療</option>
                <option>保健</option>
                <option>保險</option>
                <option>其他</option></select
              ><br />
              <span>支出對象</span>
              <select size="1" id="category_character">
                <option></option>
                <option>個人</option>
                <option>家庭</option>
                <option>育兒</option>
                <option>寵物</option>
                <option>宿舍</option>
                <option>旅行</option></select
              ><br />
              <span>備註說明</span><input type="text" name="keyword" />
            </div>
          </section>
          <section class="price-setting">
            <div class="name">分攤金額</div>
            <div class="group" id="payable-group"></div>
            <div class="name">代墊金額</div>
            <div class="group" id="prepay-group"></div>
          </section>
          <button type="button" id="submit">送出</button>
        </div>
        <div class="journal-list">Journal List</div>
        <div class="content-list">
          <div class="content-list-container"></div>
        </div>
      </section>
    </main>
    <script src="/static/js/html/html_notice.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script type="module" src="/static/js/account_book.js"></script>
    <script type="module" src="/static/js/notice.js"></script>
    <script type="module" src="/static/js/nav.js"></script>
  </body>
</html>
