<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Joan&family=Merienda&family=Merriweather:ital@1&family=Roboto+Condensed&family=Satisfy&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/static/css/index.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/notice.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <title>EzLife</title>
  </head>
  <body>
    <main>
      <div
        class="container-fluid d-flex align-items-end align-items-sm-center justify-content-start cover-image"
        id="cover-image"
      >
        <div class="join-us">Login</div>
        <div class="cover-text">
          <div class="page-name">EzLife</div>
          <div class="slogan">easy to share</div>
          <div class="slogan">your life together</div>
        </div>
      </div>
      <!---------------- 說明 -------------------------->
      <div class="container-fluid pb-5 pt-5">
        <div class="row row-cols-md-1 subcontainer">
          <div class="col-xl-5 m-auto ps-3 ps-lg-5">
            <div class="title">Shared Account Book</div>
            <p class="pt-3 fs-2 describe">
              Provide a platform for family and friends who live or travel
              together to easily keep track of expenses.
            </p>
          </div>
          <div class="col-xl-7 p-3 p-md-4 p-lg-5">
            <img src="/static/img/co-edit.gif" class="co-edit" />
          </div>
        </div>
        <div class="row row-cols-sm-1 mt-5 subcontainer">
          <div class="col-xl-5 m-auto ps-3 ps-lg-5">
            <div class="title">Analyze and Export as CSV</div>
            <p class="pt-3 fs-2 describe">
              Supports multi-condition filtering for analyzing expenses and
              exporting as CSV files.
            </p>
          </div>
          <div class="col-xl-7 p-3 p-md-4 p-lg-5">
            <img src="/static/img/analyze.gif" class="analyze" />
          </div>
        </div>
        <div class="row row-cols-sm-1 mt-5 subcontainer">
          <div class="col-xl-5 m-auto ps-3 ps-lg-5">
            <div class="title">Financial Settlement</div>
            <p class="pt-3 fs-2 describe">
              Settle accounts easily at your fingertips and access your records
              anytime!
            </p>
          </div>
          <div class="col-xl-7 p-3 p-md-4 p-lg-5">
            <img src="/static/img/settlement.gif" class="analyze" />
          </div>
        </div>
      </div>
    </main>
    <!----------------- signin ------------------------->
    <section class="login-section">
      <div class="container-fluid h-custom login">
        <div class="d-flex justify-content-center align-items-center">
          <div class="window rounded" style="background: #ffffff">
            <div>
              <div class="d-flex justify-content-end">
                <button
                  type="button"
                  class="btn-close d-flex justify-content-end"
                  aria-label="Close"
                  id="close-login-button"
                ></button>
              </div>
              <div
                class="d-flex justify-content-center align-items-center mb-3 pb-1"
              >
                <span class="fw-bold mb-0 name">EzLife</span>
              </div>

              <!-- Email input -->
              <div class="form-outline mb-4">
                <input
                  type="email"
                  value="test@mail.com"
                  class="form-control form-control-lg"
                  placeholder="email"
                  id="login-email"
                  required
                />
              </div>

              <!-- Password input -->
              <div class="form-outline mb-3">
                <input
                  type="password"
                  class="form-control form-control-lg"
                  value="test123"
                  placeholder="password"
                  required
                  pattern="^[A-Za-z0-9_\-!?@#$%&*]{6,}$"
                  id="login-password"
                />
              </div>
              <div
                class="d-flex justify-content-center align-items-center pb-1"
              >
                <div id="login-message"></div>
              </div>
              <div class="d-flex justify-content-center align-items-center">
                <button
                  type="submit"
                  class="btn btn-lg btn-block flex-grow-1"
                  id="login-button"
                  style="background: rgba(139, 69, 19, 0.8); color: #ffffff"
                  onmouseover="this.style.background='rgba(139, 69, 19)'"
                  onmouseout="this.style.background='rgba(139, 69, 19, 0.8)'"
                >
                  Sign in
                </button>
              </div>
              <div class="d-flex justify-content-center align-items-center">
                <p class="small fw-bold pt-1 mb-0">
                  Don't have an account?
                  <a class="link-danger" id="register">Register</a>
                </p>
              </div>
              <div
                class="d-flex justify-content-center align-items-center my-3"
              >
                <hr />
                <span class="px-2">or</span>
                <hr />
              </div>
              <div
                id="buttonDiv"
                class="d-flex justify-content-center align-items-center mb-2"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!----------------- signUp ------------------------->
    <section class="sign-up-section">
      <div class="container-fluid h-custom sign-up">
        <div class="d-flex justify-content-center align-items-center">
          <div class="window rounded" style="background: #ffffff">
            <div>
              <div class="d-flex justify-content-end">
                <button
                  type="button"
                  class="btn-close d-flex justify-content-end"
                  aria-label="Close"
                  id="close-sign-up-button"
                ></button>
              </div>
              <div
                class="d-flex justify-content-center align-items-center mb-3 pb-1"
              >
                <span class="fw-bold mb-0 name">EzLife</span>
              </div>

              <!-- Name input -->
              <div class="form-outline mb-4">
                <input
                  type="text"
                  class="form-control form-control-lg"
                  placeholder="name"
                  required
                  id="sign-up-name"
                />
              </div>

              <!-- Email input -->
              <div class="form-outline mb-4">
                <input
                  type="email"
                  class="form-control form-control-lg"
                  placeholder="email"
                  required
                  id="sign-up-email"
                />
              </div>

              <!-- Password input -->
              <div class="form-outline mb-3">
                <input
                  type="password"
                  id="sign-up-password"
                  class="form-control form-control-lg"
                  placeholder="password"
                  required
                  pattern="^[A-Za-z0-9_\-!?@#$%&*]{6,}$"
                />
              </div>
              <div class="d-flex justify-content-center align-items-center">
                <div id="sign-up-message"></div>
              </div>
              <div class="d-flex justify-content-center align-items-center">
                <button
                  type="submit"
                  class="btn btn-lg btn-block flex-grow-1 mybutton"
                  id="sign-up-button"
                  style="background: rgba(139, 69, 19, 0.8); color: #ffffff"
                  onmouseover="this.style.background='rgba(139, 69, 19)'"
                  onmouseout="this.style.background='rgba(139, 69, 19, 0.8)'"
                >
                  Sign up
                </button>
              </div>
              <div class="d-flex justify-content-center align-items-center">
                <p class="small fw-bold mt-2 pt-1 mb-0">
                  Already have an account?
                  <a class="link-danger" id="go-login">Sign in</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="/static/js/html/html_notice.js"></script>
    <footer class="footer mt-auto py-4">
      <div class="d-flex justify-content-center align-items-center">
        <span class="fs-6 text-dark">COPYRIGHT @ 2023 EzLife</span>
        <a href="https://github.com/ElliChuang">
          <img class="github" src="/static/img/github.png" width="33" />
        </a>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
      integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
      crossorigin="anonymous"
    ></script>
    <script type="module" src="/static/js/notice.js"></script>
    <script type="module" src="/static/js/index.js"></script>
  </body>
</html>
